body{
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.main-header{
  font-size: 60px;
  color: black;
  text-align: center;
  margin-top: 2%;
}
.flav-town-holder{
  width:60%;
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 20%;
}
.flav-town{
  width:100%;
  background-color: white;
}
.flav-town-text{
  color: black;
  text-align: center;
  font-size: 40px;
}
