body {
	/*background-color: white;*/
	/*background-image: url("../images/kitchen.jpg");*/
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}
.main-header {
	font-size: 60px;
	color: black;
	text-align: center;
	margin-top: 2%;
}
.flav-town-holder {
	width: 60%;
	margin-top: 2%;
	margin-left: 20%;
	margin-right: 20%;
}
.flav-town {
	width: 100%;
	background-color: white;
}
.flav-town-text {
	color: black;
	text-align: center;
	font-size: 40px;
}
.search-area {
	width: 100%;
}
.ingredient-holder {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.form-input {
	width: 100%;
	height: 3em;
	/*padding: 0 0 0 0;*/
}
.ingredient-form {
	width: 35%;
	display: inline-block;
	margin-right: auto;
	float: left;
	margin-right: 30%;
	/*height: 3em;*/
}
.new-ingredient {
    width: 100%;
    display: inline-block;
    margin-right: auto;
    float: left;
	height: 3em;
	font-size: 100%;
	padding: 0 0 0 0;
}
.output-button{
    display: block;
    clear: left;
    text-align: center;
}
.recipeDiv {
	width: 50%;
	height: 400px;
	background-size: cover;
	background-position: center;
	position: relative;
	display: inline-block;
}
.recipeNameDiv {
	font-family: serif;
	font-size: 20px;
	background-color: white;
	position: absolute;
	bottom: 2px;
	left: 2px;
}
.recipe-card {
	width: 50%;
	height: 400px;
	background-size: cover;
	background-position: center;
	background-color: blue;
	/*background-image: none;*/
	position: relative;
	display: inline-block;
}
.recipe-name-card {
	font-family: serif;
	font-size: 20px;
	background-color: white;
	position: absolute;
	display: none;
	bottom: 2px;
	left: 2px;
}
.ingredient-card-list{
	font-family: serif;
	font-size: 20px;
	background-color: white;
	position: absolute;
	top: 2px;
	left: 2px;
}
.wrapper-dropdown{
	float: left;
	display: inline-block;
	vertical-align: top;
	margin-left: 30%;
	width: 5%;
	background-color: red;
	height: 52px;
	text-align: center;

}
.dropdown-label{
	height: 52px;
	line-height: 52px;
		/*width: 5%;*/
	text-align: center;
}
.number-ul{
	width: 100%;
}
.number-li{
	display: none;
	height: 52px;
	line-height: 52px;
	width: 100%;

}
.number-li-link{
	display: block;
	text-decoration: none;
	width: 100%;
}
.search-top-row{
	width: 100%;
	height: auto;

}
