@media (max-width: 900px) and (min-width: 0) {
  .landing-title {
	font-size: 7vh;
	line-height: 12vh;
	top: 15%;
  }
  .landing-title-background{
	font-size: 6vh;
	height: 1.5vh;
	top: 15%;
    margin-top: 5.25vh;
  }
  .enter-button{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 150%;
    border: 2px solid white;
    background-color: rgba(236, 142, 88, 0.25);
    box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
  }
}
/*@media (max-width: 1199px) and (min-width: 700px) {
  .landing-title {
    font-size: 10vh;
	height: 3vh;
	line-height: 3vh;
  }
}
@media (max-width: 699px) and (min-width: 0px) {
  .landing-title {
    font-size: 6vh;
	height: 1vh;
	line-height: 1vh;
  }
}*/
