<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/reset.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../static/css/main.css" media="screen" title="no title" charset="utf-8">
    <title>Cornucopia</title>
  </head>
  <body>
    <h1 class="main-header">Cornucopia</h1>
    <div class="flav-town-holder">
      <div class="flav-town">
        <p class='flav-town-text'>
          welcome 2 flavortown
        </p>
      </div>
      <div id='showOutput'><a href="/showOutput"><span>TO OUTPUT</span></a></div>
      <div id='getRecipes'><span>GET RECIPE</span></div>
    </div>
    <script type="text/javascript" src="../static/vendors/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="../static/js/app.js"></script>
  </body>
</html>
