<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../static/css/reset.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="../static/css/main.css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="../static/css/module.css" media="screen" title="no title" charset="utf-8">
	<title>Cornucopia</title>
</head>

<body>
	<div class="landing-container">
		<div class="title-container">
			<div class="landing-title-background"></div>
			<div class="landing-title">CORNUCOPIA</div>
		</div>

		<div class="enter-button">ENTER</div>
	</div>
	<div class="main-background">
		<div class="main-container">
			<h1 class="main-header">Cornucopia</h1>
			<div class="flav-town-holder">
				<div class="flav-town" id="flav-town">
					<p class='flav-town-text'>

					</p>
				</div>
			</div>
			<div class="search-area">
				<div class="search-top-row">
					<div id="dd" class="wrapper-dropdown" tabindex="1">
						<span class="dropdown-label">1</span>
						<ul class="number-ul">
							<li class="number-li" id="number-li-1"><a class="number-li-link" href="#">1</a></li>
							<li class="number-li" id="number-li-2"><a class="number-li-link" href="#">2</a></li>
							<li class="number-li" id="number-li-3"><a class="number-li-link" href="#">3</a></li>
							<li class="number-li" id="number-li-4"><a class="number-li-link" href="#">4</a></li>
							<li class="number-li" id="number-li-5"><a class="number-li-link" href="#">5</a></li>
						</ul>
					</div>
					<form id="ingredientsForm" class='ingredient-form'>
						<input type="text" name="ingredient_0" id="ingredient_0" class="new-ingredient">
					</form>
					<div id='getRecipes' class="output-button"><span>GET RECIPE</span></div>
				</div>

			</div>

			<div id="recipeDivHolder" class=""></div>
		</div>
	</div>


	<script type="text/javascript" src="../static/vendors/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="../static/vendors/modernizr.custom.79639.js"></script>
	<script type="text/javascript" src="../static/js/landing.js"></script>
	<script type="text/javascript" src="../static/js/app.js"></script>
	<script type="text/javascript" src="../static/js/dropdown.js"></script>
	<script type="text/javascript" src="../static/js/card.js"></script>


</body>

</html>
