<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/css/reset.css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/css/main.css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/css/module.css" media="screen" charset="utf-8">
	<link rel="shortcut icon" href="/images/favicon.ico">
	<title>Cornucopia</title>
</head>

<body>
	<!-- <div class="main-background"> -->
	<div class="main-container">
		<div class="page-one">
			<div class="title-search">
				<div class="title-text">
					<h1 class="main-header">Cornucopia</h1>
				</div>
				<div class="search-area">
					<div class="search-top-row">
						<div id="dd" class="wrapper-dropdown" tabindex="1">
							<span class="dropdown-label">1</span>
							<ul class="number-ul">
								<li class="number-li" id="number-li-1"><a class="number-li-link" href="#">1</a></li>
								<li class="number-li" id="number-li-2"><a class="number-li-link" href="#">2</a></li>
								<li class="number-li" id="number-li-3"><a class="number-li-link" href="#">3</a></li>
								<li class="number-li" id="number-li-4"><a class="number-li-link" href="#">4</a></li>
								<li class="number-li" id="number-li-5"><a class="number-li-link" href="#">5</a></li>
							</ul>
						</div>
						<form id="ingredientsForm" class='ingredient-form'>
							<input type="text" name="ingredient_0" id="ingredient_0" class="new-ingredient">
						</form>
						<div id='getRecipes' class="output-button" href="recipeDivHolder"><span class="output-button-label">GET RECIPE</span></div>
					</div>
				</div>
				<!-- <div class="filler-container">
					<div class="filler-content">
						<div class="filler-one">

							<p class="info-text">
								<span>eat powerbars</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</div>
						<div class="filler-two">

							<p class="info-text">
								<span>eat powerbars</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>
						</div>
						<div class="filler-three">
							<p class="info-text">
								<span>eat powerbars</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</p>

						</div>
					</div>

				</div> -->
			</div>
		</div>
		<div id="recipeDivHolder" class=""></div>

	</div>
	<!-- </div> -->
	<!-- <div class="bottom-bar">
		<div class="grocery">
			<p class="grocery-text">Go to Grocery List</p>
		</div>
	</div> -->


	<script type="text/javascript" src="/vendors/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="/vendors/modernizr.custom.79639.js"></script>
	<script type="text/javascript" src="/vendors/underscore.string.js"></script>
	<script type="text/javascript" src="/js/dropdown.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/card.js"></script>


</body>

</html>
